<style>
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");
.container {
    display: flex;
    align-items: stretch;
    
    background-color: aliceblue;
    width: 140px;
    border-bottom: 2px solid gray;
}
.container button,.container > span,.container > a{
    border: none;
    border-radius:0;
    
}
.container > span {
    padding-left:2px;
    padding-top:5px;
}
.container button{
    font-size: 1.5rem;
    background-color:transparent;
}
.container button:hover,.container button:active{
    animation: clickin 0.5s linear 0s 1 normal forwards;
}

@keyframes clickin{
    from{
        background-color:acliceblue;
    }
    20%{
        background-color: linear-gradient(to bottom, aliceblue,skyblue 20%);
    }
    50%{
        background-color: linear-gradient(to bottom, aliceblue,skyblue 50%);
    }
    80%{
        background-color: linear-gradient(to bottom, aliceblue,skyblue 80%);
    }
    to{
        background-color:skyblue;
    }
}
</style>
<div class="container">
<span>评分：<span>0</span>      </span>
<button id="btnl">+</button>
<button id="btnd">-</button>
<button id="btnc">×</button>
    <a href="https://solivagant.site/component/rate/code"><span id="link"><i class="bi bi-info-circle-fill"></i></span></a>
</div>
<script src="https://solivagant.site/lib/script/jquery-3.7.1.min.js"></script>
<script>
let url = new URL(document.location).searchParams;
let oriGroup = 1;
let oriType = "rate";
let oriCompid = url.get("compid");
let str = {
  type: oriType;
  group: oriGroup;
  compid: oriCompid;
  }
let jsonstr = JSON.stringify(str,null,4);
console.log(jsonstr);

</script>

